@media (max-width: 1680px) {
    .header__container { 
        max-width: 1300px; 
    }
    .header__nav { 
        margin-left: 80px; 
    }
    .header__nav-list {
        font-size: 17px;
    }
    .header-banner__container {
        max-width: 1300px;
    }
    .header-banner__title {
        font-size: 92px;
    }
    .header-banner__sub-info {
        font-size: 26px;
    }
    .header-banner__browse-button button {
        min-width: 235px;
        padding: 17px 0 16px;
        font-size: 21px;
    }

    .pro-services__container { 
        max-width: 1300px; 
    }
    .pro-services__photos {
        height: 820px;
    }
    .pro-services__gallery-item {
        height: 360px;
    }

    .locations__container {
        max-width: 1300px; 
    }

    .tips__container { 
        max-width: 1300px; 
    }
    .tips__pointer {
        bottom: -62px;
    }
    .useful-tips__grid { 
        grid-column-gap: 70px; 
    }
    .tips__warning { 
        padding-left: 100px; 
    }

    .clients__container { 
        max-width: 1300px; 
    }
    .clients-slide {
        width: 420px;
        margin-right: 20px;
    }
    .clients-slide:last-of-type {
        margin-right: 0;
    }

    .footer__container {
        max-width: 1300px;
    }
}

@media (max-width: 1380px) {
    .header__container { 
        max-width: 1200px; 
    }
    .header__nav-list {
        font-size: 16px;
    }
    .header__book-button {
        margin-right: 35px;
    }
    .header-banner__container {
        max-width: 1200px;
    }

    .locations__container {
        max-width: 1200px; 
    }

    .pro-services__container { 
        max-width: 1200px; 
    }
    .pro-services__photos {
        height: 770px;
    }
    .pro-services__gallery-item {
        height: 340px;
    }

    .tips__container { 
        max-width: 1200px;
    }
    .tips__importance-title { 
        font-size: 42px;
    }
    .tips__importance-text {
        font-size: 17px;
    }
    .tips__pointer {
        left: 4px;
        bottom: -37px;
    }
    .useful-tips__title {
        font-size: 55px;
    }
    .useful-tips__grid {
        grid-template-columns: 310px 260px;
        grid-column-gap: 42px;
    }
    .useful-tips__item {
        padding-bottom: 11px;
    }
    .useful-tips__item-text { 
        font-size: 15px; 
    }
    .useful-tips__item:nth-child(5) { 
        padding-bottom: 10px; 
    }
    .tips__warning { 
        padding-left: 90px; 
    }

    .clients__container {
        max-width: 1200px;
    }
    .clients-slide {
        width: 390px;
        margin-right: 15px;
    }
    .clients-slide:last-of-type {
        margin-right: 0;
    }
    .clients-slide__comment {
        padding-top: 35px;
    }
    .clients-slide__comment-text {
        font-size: 16px;
    }

    .about-us__text {
        max-width: 65%;
    }
    .about-us__title {
        font-size: 40px;
    }

    .footer__container {
        max-width: 1200px;
    }
}

@media (max-width: 1230px) {
    .header__container { 
        max-width: 95%; 
    }
    .header__nav { 
        margin-left: 42px; 
    }
    .header__nav-item:nth-child(n+2) {
        margin-left: 28px;
    }
    .header__book-button {
        margin-right: 30px;

        button {
            min-width: 100px;
            padding: 9px 10px 7px;
            font-size: 15px;
        }
    }
    .header__social:nth-child(n+2) {
        margin-left: 16px;
    }
    .header__social:last-child {
        display: none;
    }
    .header-banner__container {
        max-width: 95%;
    }
    .header-banner__title {
        font-size: 84px;
    }
    .header-banner__sub-info {
        font-size: 25px;
    }
    .header-banner__browse-button button {
        min-width: 225px;
        padding: 16px 0 15px;
        font-size: 20px;
    }

    .locations__container {
        max-width: 95%; 
    }

    .pro-services__container { 
        max-width: 900px; 
    }
    .pro-services__nav-list {
        font-size: 17px;
    }
    .pro-services__photos {
        height: 660px;
        margin-top: 50px;
    }
    .pro-services__gallery {
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
        grid-row-gap: 12px;
    }
    .pro-services__gallery-item {
        height: 290px;
    }
    .pro-services__gallery-wrap {
        width: 47%;
    }
    .pro-services__selected-photo-wrap { 
        width: 52%; 
    }

    .tips__main { 
        flex-direction: column;
    }
    .tips__container { 
        max-width: 820px; 
    }
    .tips__pointer { 
        display: none; 
    }
    .tips__importance-title { 
        font-size: 48px;
    }
    .tips__importance-text {
        margin-top: 19px;
    }
    .tips__importance { 
        width: 100%; 
    }
    .useful-tips__title { 
        font-size: 60px; 
    }
    .tips__list {
        margin-top: 36px;
    }
    .useful-tips__grid {
        grid-template-columns: 100%;
        grid-row-gap: 27px;
        margin-top: 24px;
    }
    .useful-tips__item:first-child {
        padding-left: 12px;

        .useful-tips__item-text {
            margin-left: 25px; 
        }
    }
    .useful-tips__item:nth-child(5) {
        margin-top: 0;
        grid-column-start: 1;
        padding-left: 12px;
    }
    .useful-tips__item-text {
        font-size: 18px;
    }
    .useful-tips__item-image {
        display: flex;
        min-width: 80px;
        justify-content: center;
    }
    .tips__warning {
        padding: 0;
        margin-top: 50px;
    }
    .tips__warning-info { 
        width: 100%;
        padding: 35px 50px;
    }

    .clients__container {
        max-width: 900px;
    }
    .clients-slide {
        width: 440px;
        margin-right: 20px;
    }
    .clients-slide:last-of-type {
        margin-right: 0;
    }

    .blog__container {
        max-width: 960px;
    }
    .blog__post {
        width: 32.7%;
    }
    .blog-post__info {
        padding: 17px 14px;
    }
    .blog-post__title {
        font-size: 18px;
    }
    .blog-post__sub-info {
        font-size: 14.5px;
    }
    .blog-post__comments-icon {
        width: 17px;
    }
    .blog-post__comments-count {
        top: 0;
        margin-left: 6px;
    }

    .footer__container {
        max-width: 95%;
    }
}

@media (max-width: 992px) {
    .header__links { 
        display: none; 
    }
    .header__main {
        width: 100%;
        justify-content: space-between;
    }
    .header__nav { 
        margin-left: 0; 
        max-width: 77%; 
    }
    .header__nav-item:nth-child(n+2) { 
        margin-left: 30px; 
    }

    .services__content { 
        max-width: 270px; 
    }
    .services__title { 
        font-size: 24px; 
    }
    .services__list {
        margin-top: 80px;
    }
    .services-list__item { 
        font-size: 16.5px; 
    }
    .services__see-more {
        margin-top: 70px;

        button { 
            min-width: 190px; 
        }
    }

    .locations__container {
        max-width: 80%;
        margin: auto;
    }
    .locations__studio-search {
        max-width: 100%;
        text-align: center;
    }
    .studio-search__search { 
        justify-content: center; 
    }
    .studio-search__location-input {
        max-width: 75%;
    }
    .studio-search__submit-button {
        max-width: 25%;
    }
    .studio-search__dropdown {
        max-width: 75%;
        left: 0;
    }

    .pro-services { 
        padding-bottom: 90px; 
    }
    .pro-services__container { 
        max-width: 94%; 
    }
    .pro-services__title { 
        font-size: 42px; 
    }
    .pro-services__nav-bar {
        margin-top: 35px;
    }
    .pro-services__gallery-wrap,
    .pro-services__nav-item:nth-child(8),
    .pro-services__nav-item:nth-child(9) { 
        display: none; 
    }
    .pro-services__photos {
        margin-top: 40px;
        justify-content: center; 
    }
    .pro-services__selected-photo {
        flex: 1 1;
    }
    .pro-services__selected-photo-wrap {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        width: 100%;
    }
    .pro-services__selected-photo-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        button {
            width: 48%;;
            padding: 9px 5px 7px;
            transition: 0.2s;
            text-align: center;
            background-color: #f6f6f6;

            img {
                width: 30px;
                height: 16px;
            }

            &:active {
                box-shadow: inset 1px 1px 9px rgba(34, 34, 34, 0.15);
            }
        }
    }

    .tips__importance-title { 
        font-size: 41px;
    }
    .tips__container { 
        max-width: 87%; 
    }
    .useful-tips__title {
        font-size: 55px;
    }

    .clients__title {
        font-size: 43px;
    }
    .clients__sub-title {
        margin-top: 11px;
        font-size: 17px;
    }
    .clients__reviews {
        margin-top: 45px;
    }
    .clients__container {
        max-width: 720px;
    }
    .clients-slide {
        width: 350px;
        margin-right: 20px;
    }
    .clients-slide:last-of-type {
        margin-right: 0;
    }
    .clients-slide__client-name {
        font-size: 15px;
    }
    .clients-slide__comment-text {
        font-size: 16px;
        width: 96%;
    }
    .clients-slider__switch {
        margin-top: 36px;
    }

    .about-us__container {
        max-width: 90%;
        flex-direction: column;
        justify-content: flex-start;
    }
    .about-us__text {
        max-width: 100%;
        text-align: center;
    }
    .about-us__title {
        line-height: 1.3;
    }
    .about-us__button {
        margin-top: 25px;
    }

    .blog__container {
        max-width: 720px;
    }
    .blog__title {
        font-size: 44px;
    }
    .blog__sub-header {
        margin-top: 14px;
        font-size: 17px;
    }
    .blog-post__image {
        height: 280px;
    }
    .blog__post:last-child {
        display: none;
    }
    .blog__posts {
        margin-top: 60px;
    }
    .blog__post {
        width: 49%;
    }
    .blog-post__sub-info {
        font-size: 15px;
    }
    .blog-post__comments-icon {
        width: 19px;
    }
    .blog-post__comments-count {
        top: 1px;
    }
    .blog__all-posts button {
        min-width: 195px;
        padding: 12px 12px 11px;
        font-size: 17px;
    }
    
    .footer__links {
        padding-left: 9px;
    }
    .footer__contacts-wrap {
        font-size: 25px;
    }
    .footer__address-text {
        font-size: 15px;
        margin: 2px 0 0 9px;
    }
    .footer__address-text-item:nth-child(n+2) {
        margin-top: 14px;
    }
}